.lista-livros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 1rem auto;
  max-width: 85%;
}

.form-busca-livro {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.form-busca-livro div {
  margin-top: 1rem;
}
