.livro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.livro-info .container {
  display: flex;
  justify-content: center;
}

.livro-info .container .detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-right: 24px;
}

.livro-info .container .detalhes {
  flex-grow: 1;
  padding-right: 24px;
}
.livro-info .container .detalhes h2 {
  font-size: 24px;
  color: #002f52;
}
.livro-info .container .detalhes h3 {
  font-size: 16px;
  color: #002f52;
}
.livro-info .container .detalhes p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.livro-info .container .detalhes p strong {
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.livro-info .container .detalhes .opcoes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.livro-info .container .detalhes > footer {
  display: flex;
  align-items: center;
}

.livro-info .qtdContainer {
  margin: 32px 0;
}
